.search-component {

    i {
        color: $search-icon
        cursor: pointer
        font-size: 1.6rem
        margin-top: 5px
    }

    input {
        inline-block()
        background: $search-background
        border: 1px solid $search-border
        color: $search-text
        font-size: 1.3rem
        line-height: 27px
        margin-right: 8px
        padding: 0 8px
        width: calc(100% - 24px)
    }
}
