$default-content-padding = 24px

*, *:before, *:after {
    box-sizing: border-box
}

html {
    font-size: 62.5%
}

body {
    background: $default-background
    color: $default-text
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
}

a {
    text-decoration: none
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none
}

h1 {
    margin-top: 0
}

nav {
    ul {
        unstyled-list()
    }
}

::-webkit-input-placeholder {
    color: $form-placeholder-text
}

:-moz-placeholder {
    /* older Firefox */
    color: $form-placeholder-text
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $form-placeholder-text
}

:-ms-input-placeholder {
    color: $form-placeholder-text
}

.warning-text {
    color: $default-warning-text
}
