
/* Prevent text overflow */
ellipsis() {
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
}

font-family-default() {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
}

font-family-light() {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
    font-weight: 300
}

/* Display as inline-block */
inline-block($vertical-align = top) {
    display: inline-block
    vertical-align: $vertical-align
}

/* Prevent text selection highlighting */
no-select() {
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
}

unstyled-list() {
    margin: 0
    padding: 0
    list-style: none
}

circle($size = 15px) {
    border-radius: 50%
    height: $size
    width: $size
}
